<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExcample from "./components/HelloWorldExcample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionalsandLoops from "./components/ConditionalsandLoops.vue";
import FormBinding from "./components/FormBinding.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <br /><br />
    <SimpleComponent />
    <br /><br />
    <FormBinding />
    <br /><br />
    <ConditionalsandLoops />
    <br /><br />
    <AttributeBindings />
    <br /><br />
    <HandlingUserInput />
    <br /><br />
    <CalComponent />
    <br /><br />
    <HelloWorldExcample />
    <br /><br />
  </div>
</template>

<style scoped></style>
